html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional: in case horizontal scroll appears */
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

.info.map-title {
    position: absolute;
    width: 100%;
    text-align: left;
    left: 40px;
    white-space: nowrap;
    pointer-events: none;
}

#slider {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 200px;
    z-index: 1000; /* Adjust this as needed */
}
