html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; Optional: in case horizontal scroll appears
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

.info.map-title {
    position: absolute;
    width: 100%;
    text-align: left;
    left: 40px;
    white-space: nowrap;
    pointer-events: none;
}

#slider {
    position: fixed;
    right: 4.5%;
    bottom: 6%;
    width: 15px;
    height: 300px;
    z-index: 1000; /* Adjust this as needed */
}
/* noUISlider numbers changed color to black */
#slider .noUi-value {
    color: black;
  }